@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white font-sans antialiased;
}

a:focus-visible,
button:focus-visible {
  outline: none;
  box-shadow: theme('boxShadow.focus');
}
